<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<p>Title:</p>
<span><%= @book.title %></span>
<p>Body:</p>
<span><%= @book.body %></span>


<%= link_to "edit", edit_book_path(@book) %>
<span>|</span>
<%= link_to "back", books_path %>